<div class="mx-auto">
  <HeroImage />
  <Intro />
  <Projects />
  <Contact />
  <Footer
    @currentYear={{this.currentYear}}
    @networks={{this.networks}}
    @isGithubButtonsEnabled={{this.isGithubButtonsEnabled}}
  />

</div>